p {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding-top: 90px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(15, 15, 15);
  overflow-x: hidden;
}

.category-section {
  position: fixed;
  height: 60px;
  left: 0px;
  right: 0px;
  top: 55px;
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: rgb(15, 15, 15);
  margin-left: 40px;
  z-index: 100;
}

.containers,
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  background-color: rgb(38, 38, 38);
  margin-right: 10px;
  cursor: pointer;
  transition: 0.15s;
}

.containers:hover {
  background-color: rgb(56, 56, 56);
}

.containers:active {
  background-color: #fff;
  color: rgb(38, 38, 38);
}

.container {
  background-color: #fff;
  color: rgb(38, 38, 38);
}

.more {
  position: absolute;
  right: 110px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #fff;
}

.next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(15, 15, 15);
  transition: 0.2s;
}

.next-button:hover {
  background-color:   rgb(34, 34, 34);
}

.ads-section {
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: -23px;
}

.ad-img {
  height: 260px;
  object-fit: contain;
}

.yt-music {
  position: relative;
  height: 24px;
  top: -215px;
  left: 30px;
}

.yt-info {
  position: relative;
  height: 24px;
  top: -200px;
  left: 30px;
  color: #fff;
  font-family: montserrat;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  width: 400px;
}

.yt-button {
  position: relative;
  height: 24px;
  top: -140px;
  left: 30px;
  font-family: montserrat;
  font-size: 12px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  border-radius: 5rem;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}